.stops{

	.item_selected{
		//border: 1px solid black;
		//border-top: 1px solid black;
	}
	
	.item_placeholder{
		//border: 1px solid #ffffff;
	}
	
	.iconitem_invisible{
		visibility: hidden;
	}
	
	.iconitem_visible{
		visibility: visible;
	}
	
	.item_spacer{
		width: 10%;
	}
    
}