// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/main/main";
@import "../pages/settings/settings";
@import "../pages/stops/stops";
@import "../pages/map/map";

.toolbar-background{
	border-color: #b6b1a9;
	background-color: none;
	background: #ffffff;
}

tabbar{
	background: #ffffff;
}

.text-input[disabled]{
	    opacity: 1;
}

ion-searchbar{
	background: none;
}

.searchbar-input{
	border: 1px solid #b6b1a9;
}

